<% provide(:title, 'Вход') %>
<div class="container">
  <%= form_for @user_session, :as => :user_session, :url => { :action => 'create'}, :html => {:class => 'form-signin', :role => 'form'} do |f| %>
      <h2 class="form-signin-heading">Выполните вход!</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email address', required: '', autofocus: '' %>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: '' %>
      <div class="checkbox">
        <%= link_to 'Забыли пароль?', new_password_reset_url %>
        <br>
        <%= link_to 'Регистрация', reg_url %>
      </div>
      <%= f.submit 'Войти', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
